<h2 mat-dialog-title>Create</h2>

<form class="form" [formGroup]="form" (ngSubmit)="form.valid && save()" novalidate>
  <mat-dialog-content>
    <mat-form-field>
      <input matInput formControlName="name" placeholder="Bookmark Name" />
    </mat-form-field>
    <mat-form-field>
      <input matInput formControlName="url" placeholder="Bookmark Url" />
    </mat-form-field>
    <mat-form-field>
      <input matInput formControlName="group" placeholder="Bookmark Group" />
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button type="button" mat-button mat-dialog-close>
      Cancel
    </button>
    <button type="submit" mat-button color="primary" [disabled]="form.invalid || (loading$ | async)">
      Save
    </button>
  </mat-dialog-actions>
</form>
